PORT=7080
REDIS_HOST=redis
REDIS_PORT=6379
LOG_FILE=/var/log/pardus/pardus.log
AFT_KEY=pardus
AFT_URL=http://goapi:4027/aft
AFT_USER=pardus
RM_USER=pardus
RM_PASS=pardus
RM_URL=http://goapi:4027/routesms
SP_MN_PASS=pardus
SP_BLK_PASS=pardus
SAF_URL=http://goapi:4027/saf
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=test
